body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    color: black;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
}

* {
    box-sizing: border-box;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 2rem;
    text-align: center;
}

.board {
    margin: 0 auto 1rem;
    display: block;
    position: relative;
    background-color: black;
    border: 0.25vw solid black;
    width: 50vw;
    height: 50vw;
}


/* 50vw = width of grid, 10 squares per grid */
.snake-cell {
    position: absolute;
    width: 5vw;
    height: 5vw;
    /* background-color: green; */
    background: radial-gradient(greenyellow, green);
    border: 0.25vw solid black;
    border-radius: 0.5vw;
}

h1 {
    font-family: 'Eater', cursive;
    font-size: 4rem;
    margin: 0;
    color: darkolivegreen;
    text-shadow:
    -0.1rem -0.1rem 0 greenyellow,
    0.1rem 0.1rem 0 greenyellow,
    -0.1rem 0.1rem 0 green,
    0.1rem 0.1rem 0 green;
}
h2 {
    font-family: 'Eater', cursive;
    font-size: 3rem;
}
h3 {
    font-family: 'Eater', cursive;
    font-size: 2rem;
}
h4 {
    font-family: 'Nosifer', cursive;
    font-size: 2rem;
}

p {
    margin: 0 0 1rem;
}