body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    color: black;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
}

* {
    box-sizing: border-box;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 2rem;
    text-align: center;
}


/* typography */
h1 {
    font-family: 'Eater', cursive;
    font-size: 4rem;
    margin: 0;
    color: darkolivegreen;
    text-shadow:
    -0.1rem -0.1rem 0 greenyellow,
    0.1rem 0.1rem 0 greenyellow,
    -0.1rem 0.1rem 0 green,
    0.1rem 0.1rem 0 green;
}
h2 {
    font-family: 'Eater', cursive;
    font-size: 3rem;
}
h3 {
    font-family: 'Eater', cursive;
    font-size: 2rem;
}
h4 {
    font-family: 'Nosifer', cursive;
    font-size: 2rem;
}

p {
    margin: 0 0 1rem;
}




/* header */
@media only screen and (min-width: 1000px) {
    .container.header {
        position: fixed;
        top: 0;
        left: 0;
        max-width: 25vw;
        padding: 0 2.5vw;
    }
    .container.header h1 {
        max-width: 2vw;
        word-wrap: break-word;
        line-height: 1.2;
        margin: 2rem auto;
    }
    .container.game {
        margin-top: 2rem;
    }
    .container.start {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        right: 0;
        width: 25vw;
        padding: 2rem 2.5vw;
    }

}



/* start button */
.StartBtn {
    cursor: pointer;
    border: 0;
    background-color: greenyellow;
    color: green;
    border-radius: 0.25rem;
    font-size: 1.5rem;
    padding: 0.75rem 1.5rem;
    transition: all ease-in-out 0.3s;
}
.StartBtn:hover {
    background-color: green;
    color: greenyellow;
}




/* board */
.board {
    margin: 0 auto 1rem;
    display: block;
    position: relative;
    background-color: black;
    border: 0.25vw solid black;
    box-sizing: content-box;
    width: 50vw;
    height: 50vw;
}


/* 50vw = width of grid, 10 squares per grid */
.snake-cell {
    position: absolute;
    width: 5vw;
    height: 5vw;
    background: radial-gradient(greenyellow, green);
    border: 0.25vw solid black;
    border-radius: 0.5vw;
}