body {
    font-family: 'VT323', monospace;
    font-size: 1.25rem;
    color: black;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
}

* {
    box-sizing: border-box;
}
.container {
    /* max-width: 40rem; */
    max-width: 65vw;
    margin: 0 auto;
    padding: 0 2rem;
    text-align: center;
    background-color: grey;
}


/* typography */
h1 {
    font-family: 'Eater', cursive;
    font-size: 2.3rem;
    line-height: 1.8;
    margin: 0;
    color: darkolivegreen;
    text-shadow:
    -0.1rem -0.1rem 0 greenyellow,
    0.1rem 0.1rem 0 greenyellow,
    -0.1rem 0.1rem 0 green,
    0.1rem 0.1rem 0 green,
    0.25rem 0.125rem 0.5rem white,
    -0.25rem 0.125rem 0.5rem white;
}
h2 {
    font-family: 'Eater', cursive;
    font-size: 1.85rem;
}


p {
    margin: 0;
}

@media only screen and (min-width: 600px) {
    body {
        font-size: 1.5rem;
    }
    h1 {
        font-size: 4rem;
        line-height: 1.55;
    }
    h2 {
        font-size: 3rem;
    }
}





/* containers */
.container.header {
    background-color: green;
    border: 0.5rem solid dimgrey;
    border-bottom: 1rem solid #343434;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    box-shadow:
    -0.25rem 0.5rem 3rem inset greenyellow,
    -0.75rem -4.5rem 6rem inset greenyellow;
}
.container.game {
    padding-top: 1rem;
}
.container.gif {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0 8rem;
}









/*
width and height of elements are set with js
- 50vw board
- 2.5vw cell
- 20 cells per board
*/

/* board */
.board {
    margin: 0 auto;
    display: block;
    position: relative;
    background-color: black;
    border: 0.5vw solid darkgray;
    border-radius: 0.25vw;
    box-sizing: content-box;  
}
/* inset shadow */
.board:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    display: block;
    box-shadow:
    0.25rem 1.25rem 4.25rem inset,
    0.25rem 0.75rem 4rem inset rgba(255, 255, 255, 0.5),
    -0.25rem -0.5rem 3rem inset rgba(255, 255, 255, 0.5)
}
/* raised border */
.board-border {
    border: 0.5vw solid darkgray;
    border-radius: 0.25vw;
}


/* 50vw = width of grid, 10 squares per grid */
.snake-cell {
    position: absolute;
    background: radial-gradient(greenyellow, green);
    border: 0.15vw solid black;
    border-radius: 0.5vw;
}

/* apple needs resizing */
.apple-cell {
    position: absolute;
    font-size: 2vw;
    line-height: 1;
}
@media only screen and (min-width: 600px) {
    .apple-cell {
        font-size: 2.5vw;
    }
}

/* score */
.points-score {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    color: white;
}


/* - - - - - - - - - - - - - - - - - */


/* game over message */
.start-over {
    width: 20rem;
    height: 10rem;
    position: absolute;
    top: calc(50% - 5rem);
    bottom: calc(50% - 5rem);
    left: calc(50% - 10rem);
    right: calc(50% - 10rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 4rem;
}

/* start button */
.StartBtn {
    z-index: 1;
    cursor: pointer;
    border: 0;
    background-color: greenyellow;
    color: green;
    border-radius: 0.25rem;
    font-size: 2rem;
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    transition: all ease-in-out 0.3s;
    font-family: 'VT323', monospace;
}
.StartBtn:hover {
    background-color: green;
    color: greenyellow;
}



/* - - - - - - - - - - - - - - - - - */


/* directions */
.d-pad {
    position: relative;
    width: 6rem;
    height: 6rem;
    border-radius: 3rem;
    margin-top: 0.5rem;
    background-color: gainsboro;
}
.d-pad:after {
    position: absolute;
    top: calc(50% - 0.75rem);
    left: calc(50% - 0.75rem);
    content: "";
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.75rem;
    background-color: black;
}

/* hidden buttons - for mobile - triangle shaped */
.dir-btns {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: rotate(45deg);
}
.dir-button {
    /* visibility: hidden; */
    color: transparent;
    cursor: pointer;
    position: absolute;
    width: 3rem;
    height: 3rem;
}
.dir-button.Up {
    top: 0;
}
.dir-button.Down {
    bottom: 0;
    right: 0;
}
.dir-button.Left {
    left: 0;
    bottom: 0;
}
.dir-button.Right {
    right: 0;
    top: 0;
}


/* joystick */
.direction {
    z-index: 1;
    position: absolute;
    top: 0;
    left: calc(50% - 0.5rem);
    width: 1rem;
    height: 3rem;
    border-radius: 0.5rem;
    background-color: darkgrey;
    transform-origin: 50% 95%;
    transition: transform ease-in-out 0.2s;
    /* start pointing to the right */
    /* transform: rotate(90deg); */
}
.direction:after {
    position: absolute;
    top: -0.75rem;
    left: calc(50% - 0.75rem);
    content: "";
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.75rem;
    background-color: red;
}







@media only screen and (min-width: 1000px) {
    body {
        background-color: grey;
    }
    .board {
        z-index: 1;
    }

    .container.header {
        /* border: 0.5vw solid transparent; */
        border: 0;
        border-radius: 0.5vw;
        position: fixed;
        top: 2.5rem;
        left: 4rem;
        height: 51vw;
        max-width: 16vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        

    }
    .container.header h1 {
        max-width: 4vw;
        word-wrap: break-word;
        line-height: 1.2;
        margin: 1rem auto;
    }
    .container.game {
        padding-top: 0;
        margin-top: 2.5rem;
    }
    .container.gif {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        right: 0;
        width: 25vw;
        padding: 2rem 2.5vw;
    }

}